.MapPicker {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.leaflet-container {
  width: 60%;
  height: 500px;
  border-radius:19px;
  margin: 100px;
  background-color: #EBEBF3;
  box-shadow: 0 0 2px rgba(15, 15, 15, 0.28);

}

.headerLogo {
  background-color: #fff;
  font-size: 40px;
  font-weight: 600;
  display: flex;
  padding: 30px 5% ;
}
